.all_section {
    width: 100%;
}
.menu-navig-left {
	width: 250px;
    float: left;
    margin-left: -10px;
    max-width: 40%;
}
.menu-navig-left > nav > ul > li a { color: #4a4b48; }
.menu-navig-left > nav > ul > li {
	line-height: 2;
	padding: 0 10px;
}
.menu-navig-left > nav > ul > li:hover { background-color: #cbfbaa; }
.menu-navig-left .active {
    background-color: #cbfbaa;
}

/*обнулення базового стиля для блока*/
.alike.null_normalize {	margin-top: 0; }
.null_normalize {
    min-width: 60%;
    width: 70%;
    float: right;
}
.h_user_padding { padding: 5px 0 0 15px; }
.null_normalize h2 > span {
	color: #343e31;
    font-weight: lighter;
}
.null_normalize > div > ul { 
	text-align: start;
	margin-top: 40px;
}
.vishilist {
	display: block;
    color: #0048ff;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
   	text-align: center;
}
.vishilist:hover {
	text-decoration: none;
}
.notBorder { border: none !important; }
.bottomMarginBlock { margin-bottom: 60px; }

/* catalog */
div.overlay {
    top: 107px;
}
ul.menu__catalog__block:before {
    top: -25px;
}
ul.menu__catalog__block {
    top: 52px;
}

/* table */
.mytable {
  display: table;
  width: 100%;
  padding: 10px 0 0 15px;
}

.mytable  a {
    text-decoration: underline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mytable  a:hover {
    text-decoration: none;
}

.myrow {
  display: table-row;   
}

.mycell {
  display: table-cell;
  line-height: 3em;
  border-bottom: 1px solid #d7d7d7;
  font-size: 14px;  
}

.column1 {
  display: table-column; 
}

.column2 {
  display: table-column;   
}

.column3 {
  display: table-column;   
}

.myrow :nth-child(1) {
    text-align: left;
}

.myrow {
    text-align: center;
}

.mytable :last-child .mycell {
    border-bottom: none;
}

/* for cupons */
.cupons > .myrow :nth-child(2)  {
    text-align: left;
}
/* /cupons */


/* for room */
.rowleft {
    float: left;
    width: 70%;
}

.rowleft > .mytable > .myrow {
    text-align: left;
}
.rowleft :nth-child(1) > .myrow > .mycell {
    border: none;
}

.rowright {
    float: right;
    width: 30%;    
}

.roomLink a {
    display: block;
    font-size: 12px;
    overflow: visible;
    color: #2e3593;
    line-height: 2.5;
}

.formRadioUser {
    display: flex;
}

.borderLeft {
    border-right: 1px solid #d6d6d6;
    margin-left: -15px;
}
.contactTitle {
    font-size: 1.7em;
}
.contactTitle + h6 {
    float: right;
    top: -70px;
    position: relative;
    font-size: 11px;
    font-weight: lighter;
    right: 55px;
}

/*icons check*/
.fa1_5 {
    font-size: 1.5em;
}

/*img room*/
.mycell > img {
    vertical-align: middle;
    position: relative;
    padding: 0 10px 0 0;
}
.mycell > input {
    display: none;
}
.mycell > input + label {
    color: #cdcdcd;
}
.mycell > input + label:hover {
    color: #2ECCA5;
    /*color: #2ECC38;*/
}
.mycell > input:checked + label {
    color: #2ecc71;
}
.formRadioUser > .mytable > .myrow > .mycell {
    border-top: 1px solid #d6d6d6;
    text-align: left;
}
/* /room */
/* /table */