@media only screen and (min-width: 768px) and (max-width: 1059px) {
	.null_normalize {
		max-width: 60%;
	}

}
@media only screen and (max-width: 1059px) {
	.menu-navig-left {
	    margin-left: -10px;
	    width: 100%;
	    max-width: 100%;
	    float: none;
	}
	.null_normalize { max-width: 100%; }
	.sm_section_user { width: 100%;	}
	.bottomMarginBlock > div { padding: 0; }
	.h_user_padding { text-align: center; }
}

/*copy http://bz.onclickparts.ru/*/
.rating {
    margin: 0 0 5px;
}
.stars {
    display: inline-table;
    font-size: 16px;
    line-height: 16px;
    color: #91999b;
}
.stars i:first-child {
    margin-left: 0;
}

/*nav copy*/ 
nav.nav .container, .menu .container {
	overflow: visible;
}

.nav ul li {
	display: inline-block;
	line-height: 35px;
}


/*menu copy*/
.menu {
    height: 80px;
}
.menu a:hover, .nav a:hover  {
	text-decoration: underline;
}
.menu > .container {
	min-height: 25px;
	padding-top: 5px;
}
.menu :nth-child(2) {
	padding-top: 0;
}
.menu__logo {
    margin-left: 0px;
}
.menu__phone {
    display: inline-block;
    vertical-align: middle;
    color: #649c0d;
    font-size: 20px;
}

.iblock {
    display: inline-block;
}
.nav__callback {
    background: #649c0d;
    border: 1px solid #000;
    text-transform: none;
    line-height: 20px;
    font-size: 12px;
}
.menu__catalog {
    margin-right: 50px;
    margin-left: 38px;
}
.menu__catalog, .menu__catalog-sm {
    line-height: 41px;
    color: #4a4b48;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    width: 80px;
    position: relative;
}
.menu__search, .menu__search input {
    width: 605px;
}
nav .container .menu__account {
	line-height: 15px;
}
.head_name {
	color: #fff;
}
/*footer copy*/
.footer {
    padding: 0 0 40px;
}
.footer > .container, nav > .container, menu > .container {
	padding: 0 10px;
    box-sizing: border-box;
    overflow: hidden;
}
.footer .cols {
    margin: 0;
}
.footer .cols .col:first-child {
    margin-left: 0;
}
.footer .cols .col {
    float: left;
    width: 222.5px;
    margin: 0 0 0 50px;
    font-family: Arial;
    font-size: 13px;
    line-height: 18px;
}
.hr-figure {
    clear: both;
    margin: 0 0 15px;
    height: 11px;
    background: url("../img/footer_line.png") left center repeat-x;
}
.hr-figure span {
    display: block;
    height: inherit;
    background: url("../img/footer_infinity.png") center center no-repeat;
}
.footer .cols .col ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer .cols .col ul li {
    margin: 12px 0 0;
}
.footer .cols .col ul li:first-child {
    margin-top: 0;
}
.footer .cols .col ul li a {
    /* border-bottom: #c7d4da 1px solid; */
    font-variant: small-caps;
    font-size: 14px;
    color: #336379;
    font-family: "Open Sans";
    /*test*/
    font-family: sans-serif;
}
.footer .cols .col.address .phone {
    margin: 0 0 10px;
    font-size: 24px;
}
.s-fgrey {
    color: #777570;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*search*/
@media only screen and (max-width: 1059px) and (min-width: 768px){
	.menu__search.md-sm {
		width: 70%;
	}
	nav > .container {
	    padding: 0 40px;
	}
	menu.menu {
    	height: 180px;  
	}
	.menu__phone {
		text-align: center;
	    display: block;
	}
	.container div.menu__catalog {
		font-size: 32px;
		width: 140px;
		margin-right: 80px;
	}
	.sm_catalog_icon {
		margin-top: -120px;
		float: right;
	}
	.callback_block {
		display: block;
		text-align: center;
	   	padding-top: 5px;
	}

}

@media only screen and (max-width: 767px) and (min-width: 100px) {
	.menu__search.md-sm {
		width: 70%;
	}
	menu.menu {
    height: 180px;
	}
	.sm {
		display: block !important;
	}
	.menu__catalog.sm {
		font-size: 32px;
	    width: 140px;
	    margin-right: 80px;
	}
	.menu__catalog__block {
	    left: -130px;
	    width: 350px;
	    top: 45px;
        position: absolute;
	}
	.overlay {
	    position: fixed;
	    background: rgba(0,0,0,0.75);
	    top: 85px;
	    left: 0;
	    z-index: 9998;
	    height: 1000%;
	    width: 100%;
	    display: none;
	}
	.menu__catalog__block:before {
	    position: absolute;
	    top: -30px;
	    height: 12px;
	    width: 22px;
	    left: 252px;
	    content: url("../img/triangle.png");
	}

	/* for room */
	.contactTitle + h6 {
		display: none;
	}
	/* end for room */

} 
