@media only screen and (max-width: 1059px) {
	.troi_static_content {
		width: 100%;
		display: block;
	}
	.img_block > ul {
	    display: inline-table;
	    text-align: justify;
	}
	.imgline {
		margin: 14px;
	}	

}
@media only screen and (max-width: 768px) {
	.img_block > ul {
	    display: inline-table;
	    text-align: justify;
	}
}